[alias]
    go = "! bash -c \"git pull && git add .; if [ \\\"$*\\\" == \\\"\\\" ]; then git commit -a; else git commit -am \\\"$*\\\"; fi; git push origin master:your-id;\""
[core]
	editor = vim
	symlinks = false
	autocrlf = false
	excludesfile = /Users/Guo/.gitignore_global
	quotepath = false
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = true
[pack]
	packSizeLimit = 2g
[help]
	format = html
[diff "astextplain"]
	textconv = astextplain
[rebase]
	autosquash = true
[user]
	email = gyk001@gmail.com
	name = gyk001
[gui]
    encoding = utf-8
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Developer/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
