Recent/
PrintHood/
AppData/
Application\ Data/
Cookies/
Desktop/
Local\ Settings/
My\ Documents/
NetHood/
SendTo/
Templates/
NTUSER.DAT*
ntuser.*
.neocon/
.ssh/
.vim/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
Vim/
_vim_mru_files
_viminfo
tr.log
trr.txt
.m2/repository/
.ICEauthority
.Xauthority
.bash_history
.cache/
.config/
.dbus/
.dmrc
.esd_auth
.fontconfig/
.fonts/
.gconf/
.gconfd/
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.imsettings.log
.java/
.local/
.macromedia/
.mozilla/
.mplayer/
.nv/
.nvidia-settings-rc
.pki/
.pulse-cookie
.pulse/
.recently-used.xbel
.serverauth.2330
.spice-vdagent/
.subversion/
.tencent/
.thumbnails/
.viminfo
.virt-manager/
.xinputrc
.xsession-errors
workspace/
